{% extends 'base.html.twig' %}

{% block title %}Home | My Quiz{% endblock %}

{% block body %}
    <h1>Categories</h1>
    <ul>
    {% for category in categories %}
        <li><a href="#">{{category.name}}</a></li>
    {% endfor %}
    </ul>

{% endblock %}
