{% extends 'base.html.twig' %}

{% block title %}Home | My Quiz{% endblock %}

{% block body %}
    <h1>Category</h1>
    <ul>
        <li><a href="#">Foot</a></li>
        <li><a href="#">Sante</a></li>
        <li><a href="#">Blabla</a></li>
        <li><a href="#">Blabla</a></li>
        <li><a href="#">Blabla</a></li>
    </ul>
    <h1>Popular</h1>
    <ul>
        <li><a href="#">Questionnaire ?</a></li>
        <li><a href="#">Questionnaire ?</a></li>
        <li><a href="#">Questionnaire ?</a></li>
        <li><a href="#">Questionnaire ?</a></li>
        <li><a href="#">Questionnaire ?</a></li>
    </ul>

{% endblock %}
