<h1>🎉 Bravo vous êtes inscrits sur My Quiz !</h1>
<p>Pour confirmer votre inscription, veuillez cliquer sur le lien qui suit:</p>
<a href="{{ linkActivation }}">Vérifier mon compte</a>
<br><br>
<p>L'équipe My Quiz</p>